body {
  background-color: #2c3e50;
  color: white;
}

main {
  background-color: #2c3e5050;
  display: flex;
  width: 500px;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin: 4% auto;
}

.js-clock {
  margin-top: 150px;
}

.js-title {
  font-size: 60px;
  margin: 10px 0;
}

.js-weather {
  margin-bottom: 30px;
}

.form,
.greetings {
  display: none;
  font-size: 28px;
}

.showing {
  display: block;
}

.greetings {
  border-bottom: 1px solid white;
  padding-bottom: 7px;
}

input:focus {
  outline: none;
  text-align: center;
}

.js-form input,
.js-toDoForm input {
  border-radius: 12px;
  border: none;
  height: 21px;
  width: 300px;
  margin: 40px 0;
}

.js-form input {
  height: 25px;
  width: 120px;
  border-radius: 20px;
}

.js-form input::placeholder,
.js-toDoForm input::placeholder {
  text-align: center;
}

.js-toDoList {
  list-style: none;
  padding: 0;
}

.js-toDoList li {
  margin-bottom: 10px;
  font-size: 22px;
}

.js-toDoList button {
  list-style: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.js-toDoList button:hover {
  cursor: pointer;
  transform: scale(1.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
